@charset "UTF-8";
@keyframes slideFromTop {
  0% {
    top: -50vh; }
  100% {
    top: 100px; } }
@keyframes darken {
  0% {
    background: 0; }
  100% {
    background: rgba(0, 0, 0, 0.7); } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
    margin: auto;
    /* background-image: url("../assets/background-client.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right; */
}

.background-admin {
    background-image: url("../assets/background-admin.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    counter-reset: num; 
}


.background-client {
    background-image: url("../assets/background-client.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

.App {
    margin: 0 10%;
}

.link {
    text-decoration: none;
}