.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
  }
  
.page-header__title {
    margin: 0;
    font-weight: 900;
    font-size: 3.4rem;
    color: #FFFFFF;
    text-transform: uppercase;
}
.page-header__title span {
    font-weight: 100;
}

.page-header {
    color: #FFFFFF;
    text-transform: uppercase; 
}
.page-header .page-header__title {
    margin: 0;
    font-weight: 900;
    font-size: 3.4rem; 
}
.page-header .page-header__title span {
    font-weight: 100; 
}
.page-header .page-header__subtitle {
    font-size: 1rem;
    letter-spacing: 0.46em; 
}

.btn-logout {
    padding: 12px 32px;
    font-size: 2rem; 
    border: none;
    background-color: #63536C;
    border-radius: 20px;
    color: #FFFFFF;
}

.btn-logout:hover {
    background-color: #BC95D6;
    color: #2c2b2b;
}